.home-page {
  text-align: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  flex: 1;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #007bff;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home-button {
  background-color: #007bff;
  color: white;
  width: 300px;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}

.home-button:active {
  background-color: #003f7f;
}

.svg-container {
  flex: 1;
}

.svg-container img {
  width: 400px;
  height: auto;
}